<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfW-h9iYCal0P6I0RqF-mXyR7HtUTJqpU</string>
	<key>GCM_SENDER_ID</key>
	<string>665721194102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devlokos.runningdart</string>
	<key>PROJECT_ID</key>
	<string>running-dart</string>
	<key>STORAGE_BUCKET</key>
	<string>running-dart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665721194102:ios:e09b1adcbc015eaf0ac157</string>
</dict>
</plist>
